---
import Layout from "../../layouts/Layout.astro";
import InitiativeBox from "../../components/InitiativeBox.astro";
import { getCollection } from "astro:content";
const initiatives = (await getCollection("initiatives")).sort(
  (a, b) =>
    new Date(b.data.publishedAt).getTime() -
    new Date(a.data.publishedAt).getTime()
);
---

<Layout og_type="website">
  <div>
    {
      initiatives.map((research) => (
        <>
          <div class="divider my-2" />
          <InitiativeBox
            title={research.data.title}
            description={research.data.description}
            href={research.data.url}
          />
        </>
      ))
    }
  </div>
</Layout>
